{% comment %}
This is the typical schedule for the Data Carpentry workshops.
The schedule for the different curricula are listed here:
- dc-ecology
- dc-genomics
- dc-socsci
- dc-geosptial
{% endcomment %}

{% if site.curriculum == "dc-ecology" %}
<div class="row">
  <div class="col-md-6">
    <h3>Day 1 (Thur June 10)</h3>
    <h4>Tidy Data with Spreadsheets</h4>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>1:00 PM</td> <td>Workshop Introduction</td></tr>
      <tr><td>1:30 PM</td> <td> <a href="https://datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets</a></td></tr>
      <tr><td>2:05 PM</td> <td> Break</td></tr>
	  <tr><td>2:10 PM</td> <td> <a href="https://datacarpentry.org/spreadsheet-ecology-lesson//02-common-mistakes/index.html">Formatting Problems and Dates as Data</a></td></tr>
      <tr><td>3:05 PM</td> <td> Break</td></tr>
	  <tr><td>3:20 PM</td> <td> <a href="https://datacarpentry.org/spreadsheet-ecology-lesson//04-quality-control/index.html">Quality Control</a></td></tr>
      <tr><td>4:05 PM</td> <td> Break</td></tr>
	  <tr><td>4:10 PM</td> <td> OpenRefine Demonstration</td></tr>
	  <tr><td>4:30 PM</td> <td> <a href="https://datacarpentry.org/spreadsheet-ecology-lesson//05-exporting-data/index.html">Exporting Data</a></td></tr>
      <tr> <td>5:00 PM</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 (Fri June 11)</h3>
	  <h4><a href='https://datacarpentry.org/R-ecology-lesson/'>Introduction to R and RStudio</a></h4>
    <table class="table table-striped">
      <tr><td>1:00 PM</td> <td>Previous Day Review and Question Session></td></tr>
      <tr><td>1:15 PM</td> <td> <a href="https://datacarpentry.org/R-ecology-lesson/00-before-we-start.html">What is R? Why use R?</a></td></tr>
      <tr><td>2:00 PM</td> <td> Break</td></tr>
	  <tr><td>2:05 PM</td> <td> <a href="https://datacarpentry.org/R-ecology-lesson/01-intro-to-r.html">Intro to R</a></td></tr>
      <tr><td>3:00 PM</td> <td> Break</td></tr>
	  <tr><td>3:15 PM</td> <td> <a href="https://datacarpentry.org/R-ecology-lesson/02-starting-with-data.html">Starting with Data</a></td></tr>
      <tr><td>4:00 PM</td> <td> Break</td></tr>
	  <tr><td>4:05 PM</td> <td> <a href="https://datacarpentry.org/R-ecology-lesson/02-starting-with-data.html"> Continue Starting with Data</a></td></tr>
      <tr><td>5:00 PM</td> <td>END</td> </tr>

    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3 (Mon June 14)</h3>
    <h4>Working with data with R</h4>
    <table class="table table-striped">
	  <tr><td>1:00 PM</td> <td>Previous Day Review and Question Session></td></tr>
      <tr><td>1:15 PM</td> <td><a href="https://datacarpentry.org/R-ecology-lesson/03-dplyr.html">Manipulating Data Frames with <code>dplyr</code></a></td></tr>
      <tr><td>2:00 PM</td> <td> Break</td></tr>
	  <tr><td>2:05 PM</td> <td>More Manipulating Data Frames with <code>dplyr</code></td></tr>
      <tr><td>3:00 PM</td> <td> Break</td></tr>
	  <tr><td>3:15 PM</td> <td>Even More Manipulating Data Frames with <code>dplyr</code></td></tr>
      <tr><td>4:00 PM</td> <td> Break</td></tr>
	  <tr><td>4:05 PM</td> <td>Plus Additional Manipulating Data Frames with <code>dplyr</code></td></tr>
      <tr><td>5:00 PM</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4 (Tue June 15)</h3>
    <h4>Visualizing data with R</h4>
    <table class="table table-striped">
      <tr><td>1:00 PM</td> <td>Previous Day Review and Question Session></td></tr>
      <tr><td>1:15 PM</td> <td> Exciting R Use Case Demonstrations! </td></tr>
      <tr><td>2:00 PM</td> <td> Break</td></tr>
	  <tr><td>2:05 PM</td> <td><a href="https://datacarpentry.org/R-ecology-lesson/04-visualization-ggplot2.html">Data Visualization with <code>ggplot2</code> Part I</a></td></tr>
      <tr><td>3:00 PM</td> <td> Break</td></tr>
	  <tr><td>3:15 PM</td> <td>Data Visualization with <code>ggplot2</code> Part II</td></tr>
      <tr><td>4:00 PM</td> <td> Break</td></tr>
	  <tr><td>4:05 PM</td> <td>Data Visualization with <code>ggplot2</code> Part III</td></tr>
      <tr><td>5:00 PM</td> <td>END</td> </tr>
    </table>
  </div>
</div>

{% elsif site.curriculum == "dc-genomics" %}

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/organization-genomics/">Project Organization and Management</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/shell-genomics/">Introduction to the Command Line</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://datacarpentry.org/wrangling-genomics/">Data Wrangling and Processing</a></td></tr>
			<tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
			<tr><td>Morning</td><td><a href="https://datacarpentry.org/wrangling-genomics/">Continuation: Data Wrangling and Processing</a></td></tr>
			<tr><td>Afternoon</td><td><a href="https://datacarpentry.org/cloud-genomics/">Introduction to Cloud Computing for Genomics</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>

{% elsif site.curriculum == "dc-socsci" %}

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/spreadsheets-socialsci/">Data Organization in Spreadsheets</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/openrefine-socialsci/">OpenRefine for Data Cleaning</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://datacarpentry.org/r-socialsci/">Introduction to R</a></td></tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="https://datacarpentry.org/r-socialsci/">Continuation of R: Data Analysis & Visualization</a></td></tr>
      <tr> <td>Afternoon</td><td><a href="https://datacarpentry.org/sql-socialsci/">Data Management with SQL</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>


{% elsif site.curriculum == "dc-geospatial" %}

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>Morning</td>
        <td><a href="https://datacarpentry.org/organization-geospatial/">Introduction to Geospatial Concepts</a>
        </td>
      </tr>
      <tr>
        <td> </td>
        <td><a href="https://datacarpentry.org/r-intro-geospatial/">Introduction to R for Geospatial Data</a></td>
      </tr>
      <tr>
        <td>Afternoon</td>
        <td><a href="https://datacarpentry.org/r-intro-geospatial/">Introduction to R for Geospatial Data (continued)</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Introduction to Geospatial Raster and Vector Data with R</a> (Part 1)</td>
      </tr>
      <tr>
        <td>Evening</td>
        <td>END</td>
      </tr>
    </table>
  </div>

  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Introduction to Geospatial Raster and Vector Data with R</a> (Part 2)</td></tr>
      <tr> <td>Afternoon</td><td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Introduction to Geospatial Raster and Vector Data with R</a> (Part 3)</td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>

{% else %}
{% include warning-curriculum.html %}
{% endif %}
